@import "tailwindcss";

@theme {
  --animate-float: float 6s ease-in-out infinite;
  
  @keyframes float {
    0%, 100% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
  }
}

body {
  @apply bg-slate-50;
  background: radial-gradient(circle at top right, #e0f2fe, #f8fafc);
}